<%= render 'shared/content_title', title: 'All Posts'%>


<% @posts.each do |post| %>
	<div class="row">
		<div class='span8 well'>
			
				<%post.categories.each do |cat|%>
					<span class="badge"> <%=cat.name%> </span>
				<% end %>
			
			<h4><%=link_to post.title, post.url %></h4>
			<p><%=post.description%></p>
			<p>
				<span class='quite'>Posted by</span>
				 <%=post.creator.username%>
					at <small><%=post.created_at %></small>
			</p>
			<small>
				<span>
					<%= link_to("#{post.comments.size} comments", post_path(post)) %>
				</span>
			</small>	
		</div>
	</div>
<% end %>
