<%= render 'shared/content_title', title: 'Add a new category'%>

<%= render 'shared/errors', obj: @category %>


	<%= form_for @category do |f| %>
		<div class= 'control-group'>
			<%= f.label :"Category name"  %>
			<%= f.text_field :name %>
			<br>
		</div>
		<%= f.submit 'Create Category', class: 'btn btn-primary' %>
	<% end %>
</div>
